$bgcolor:yellow;
$widthCon:200px;

@mixin Ptegi(){
    color: green;
    font-size: 45px;
}

.container {
  background-color:$bgcolor;
  width: $widthCon;
  height: 100px;
  h1{
      color: red;
      font-size: 20px;
      p{
          @include Ptegi()
      }
  }
}
